#products {
    margin-bottom: 50px;
}

#products h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#products .center {
    margin: 20px auto;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(219, 209, 209);
    padding: 10px;
    border-radius: 5px;
    min-height: 440px;
}

.center:hover {
    box-shadow: 0 0 5px 2px rgb(148, 133, 133);
}

.center img {
    display: block;
    width: 100%;
    height: 268px;
}

.center a {
    color: gray;
}

.center h3 {
    margin: 20px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
}

#price {
    color: rgb(18, 199, 18);
    font-size: 20px;
}

#size {
    color: gray;
    margin: 2px;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 4px;
    padding: 0px 10px;
    text-align: center;
}

@media (max-width:960px) {
    .center img {
        width: 282px;
        margin: auto;
    }
}