.header {
    width: 100%;
    max-width: 1280px !important;
    padding: 10px;
    min-height: 330p;
    box-sizing: border-box;
    color: black;
    min-height: 330px;
    position: relative;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url("/images/1601887502.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

.content {
    position: relative;
    z-index: 2;
}

​.header h1 {
    margin: 20px;
}

.header p {
    margin: 20px;
    font-size: 22px;
    text-align: justify;
    line-height: 2;
}
.content {
    padding-top: 50px;
}